<div class="container" *ngIf="img">
  <div class="row" >
    <div class="col-md-3" *ngFor="let im of img; index as i">
      <div class="thumbnail">
        <img class="media-object" src="{{im}}" width="280" height="280">
        <div class="caption">
          Ảnh :{{i}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <a *ngIf="tokenStorageService.getAuthoritiesLC() === 'ROLE_USER'" [routerLink]="['order']" class="btn btn-info">Đặt nhà</a>
        <div class="panel-body">

          <h2>Name: {{item.houseName}}</h2>
          <!--  <div class="well well-sm">Small Well</div>-->
          <div class="well">Địa chỉ : {{item.address}}</div>
          <div class="well">Số phòng tắm: {{item.bathroomNumber}}</div>
          <div class="well">Số phòng ngủ: {{item.bedroomNumber}}</div>
          <div class="well">Loại phòng: {{item.category.name}}</div>
          <div class="well">Giá tiền: {{item.price}}</div>
          <!--  <div class="well well-lg">Large Well</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<app-list-comment></app-list-comment>
<app-comment></app-comment>
<router-outlet></router-outlet>
