<div class="content">
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapTypeIdChange)="mapClick($event)"
    (mapDblClick)="mapDoubleClick($event)"
    [disableDoubleClickZoom]="true">
    <agm-marker [latitude]="this.lat" [longitude]="this.lng" [markerDraggable]="true" [title]="'Hung'" [label]="'$32'"></agm-marker>
    <!--    <agm-marker [latitude]="lat2"[longitude]="lng2" [markerDraggable]="false" [opacity]="0.5" [label]="'B'"></agm-marker>-->
    <!--    <agm-marker [latitude]="lat3"[longitude]="lng3" [markerDraggable]="false"-->
    <!--                [opacity]="0.5"-->
    <!--                [iconUrl]="''"></agm-marker>-->

  </agm-map>
</div>
<router-outlet></router-outlet>
