<div class="container">
  <div class="homepage">

    <div class="page-header">
      <h2>Chào mừng đến với HTTP!</h2>
      <p>Đặt chỗ ở, homestay, và nhiều hơn nữa trên BNB</p>
      <p>Đăng nhập hoặc đăng ký để trải nghiệm</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-sm thumbnail-home">
          <a routerLink="/homestay"><img  src="https://www.upsieutoc.com/images/2019/12/04/location_6_1572858402.png" /></a>
          <div class="caption">
            <a routerLink="/homestay"><h3>Homestay</h3></a>
            <a routerLink="/homestay"><small>Căn hộ dich vụ & Biệt thự</small></a>
          </div>
        </div>
      </div>
    </div>

    <div class="page-header">
      <h2>Địa điểm nổi bật tại Đà Nẵng</h2>
      <p>Cùng BNB bắt đầu chuyến hành trình Việt Nam của bạn</p>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="col-md-3"><img src="https://www.upsieutoc.com/images/2019/12/04/69626-cho-con-700x512.jpg"/>
              <div class="carousel-caption">
                <h4>Chợ cồn </h4>
                <p>Hải châu, Đà Nẵng</p>
              </div>
            </div>
            <div class="col-md-3"><img src="https://www.upsieutoc.com/images/2019/12/04/at_ngu-hanh-son_56658d7acb25ba2c6decd9e203e979e9.jpg"/>
              <div class="carousel-caption">
                <h4>Núi ngũ hành sơn</h4>
                <p>Ngũ Hành Sơn, Đà Nẵng</p>
              </div>
            </div>
            <div class="col-md-3"><img src="https://www.upsieutoc.com/images/2019/12/04/bai-bien-my-khe-542bc385afcf9-min-1030x686.jpg" />
              <div class="carousel-caption">
                <h4>Bãi biển Mỹ khê</h4>
                <p>Ngũ Hành Sơn, Đà Nẵng</p>
              </div>
            </div>
            <div class="col-md-3"><img src="https://www.upsieutoc.com/images/2019/12/04/cau-tinh-yeu-da-nang-khi-ve-dem-1.jpg"/>
              <div class="carousel-caption">
                <h4>Cầu tình yêu</h4>
                <p>Sơn trà, Đà Nẵng</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-3"><img src="https://www.upsieutoc.com/images/2019/12/04/at_ngu-hanh-son_56658d7acb25ba2c6decd9e203e979e9.jpg"/>
              <div class="carousel-caption">
                <h4>Núi ngũ hành sơn</h4>
                <p>Ngũ Hành Sơn, Đà Nẵng</p>
              </div>
            </div>
            <div class="col-md-3"><img src="https://www.upsieutoc.com/images/2019/12/04/bai-bien-my-khe-542bc385afcf9-min-1030x686.jpg" />
              <div class="carousel-caption">
                <h4>Bãi biển Mỹ khê</h4>
                <p>Ngũ Hành Sơn, Đà Nẵng</p>
              </div>
            </div>
            <div class="col-md-3"><img src="https://www.upsieutoc.com/images/2019/12/04/cau-tinh-yeu-da-nang-khi-ve-dem-1.jpg"/>
              <div class="carousel-caption">
                <h4>Cầu tình yêu</h4>
                <p>Sơn trà, Đà Nẵng</p>
              </div>
            </div>
            <div class="col-md-3"><img src="https://www.upsieutoc.com/images/2019/12/04/da-nang-thanh-pho-cua-nhung-cay-cau-07.jpg"/>
              <div class="carousel-caption">
                <h4>Cầu rồng</h4>
                <p>Hải châu, Đà Nẵng</p>
              </div>
            </div>
          </div>

        </div>
        ...
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="page-header">
      <h2>Tránh rét tại Đà Nẵng - Đi thôi đừng đợi</h2>
      <p>Đôi khi phải đi xa , homestay Đà Nẵng cho mùa đông đáng nhớ. Giảm 12% cho các chỗ ở tại Đà Nẵng trong tháng này</p>
    </div>


  </div>

</div>



