li:hover {
  background-color: orange;
  border-radius: 2px;
}
.btn-default:hover{
  background-color: orange;
  border-radius: 3px;
}
.container-fluid{
  background-color: whitesmoke;
  border-radius: 3px;
}
.container{
  //background-color: whitesmoke;
  border-radius: 4px;
}
.carousel-inner img {
  width: 100%;
  height: 380px;
  border-radius: 5px;
}
.thumbnail-home {
  width: 260px;
  border-radius: 18px;
}
.navbar-fixed-top{
}
.homepage{
  margin-top: 100px;
}
.navbar-brand img{
  margin-top: -10px;
  margin-left: -10px;
  width: 43px;
  border-radius: 6px;
}
.panel-left img {
  border-radius: 8px;
  margin-top: 100px;
  margin-left: 50px;
  position: fixed;
}
.panel-right img{
  border-radius: 8px;
  margin-top: 100px;
  margin-left: 1550px;
  position: fixed;
}

