<div class="container">

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <!--    <ul class="carousel-indicators">-->
    <!--        <li data-target="#demo" data-slide-to="0" class="active"></li>-->
    <!--        <li data-target="#demo" data-slide-to="1"></li>-->
    <!--        <li data-target="#demo" data-slide-to="2"></li>-->
    <!--    </ul>-->

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3"><img src="https://www.upsieutoc.com/images/2019/12/04/69626-cho-con-700x512.jpg"/></div>

<!--          <img src="../../image/69626-cho-con-700x512.jpg" height="512" width="700"/>-->
          <div class="col-md-3"><img src="/image/da-nang-thanh-pho-cua-nhung-cay-cau-07.jpg"/></div>
          <div class="col-md-3"><img src="/image/cau-tinh-yeu-da-nang-khi-ve-dem-1.jpg"/></div>
          <div class="col-md-3"><img src="/image/bai-bien-my-khe-542bc385afcf9-min-1030x686.jpg" /></div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img_nature_wide.jpg" alt="Chicago">
      </div>
      <div class="carousel-item">
        <img src="img_snow_wide.jpg" alt="New York">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>

</div>


