<form [formGroup]="orderTime" (ngSubmit)="calculate()" class="col-md-6 offset-md-3">
  <div class="alert alert-info" role="alert" *ngIf="message">
    {{message}}
  </div>
  <div class="form-group row">
    <label class="col">
      Month
      <input type="number" class="form-control" formControlName="month">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Year
      <input type="number" class="form-control" formControlName="year">
    </label>
  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit">Calculate</button>
  </div>
</form>
