<div class="container" *ngIf="image">
  <div class="row" >
    <div class="col-md-3" *ngFor="let im of image; index as i">
      <div class="thumbnail">
        <img class="media-object" src="{{im}}" width="280" height="280">
        <div class="caption">
          Ảnh :{{i}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <ul class="nav navbar-nav navbar-right">
    <div class="btn-group btn-left">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tasks"></span></button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a class="btn" [routerLink]="['booklist']">Xem danh sách book </a></li>
        <li><a class="btn" [routerLink]="['income']">Xem thu nhập tháng </a></li>
        <li><a class="btn" (click)="hostBook()" >Book </a></li>
      </ul>
    </div>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="alert alert-info" role="alert" *ngIf="message">
            <h4 class="alert-heading">{{message}}</h4>
          </div>
          <form class="form-group" [formGroup]="statusHomeForm" (ngSubmit)="onSubmit()" *ngIf="book">
            <button *ngIf="book" class="btn btn-default pull-right" (click)="offBook()">Đóng</button>

            <label class="col">
              <!--              Chọn mục đích sử dụng:-->
              <select  formControlName="status" class="form-control">
                <!--                <option [defaultSelected]="1" value="1">AVAILABLE</option>-->
                <option [defaultSelected]="2" value="2">BOOKED</option>
              </select>
            </label>
            <div class="form-group">
              Ngày bắt đầu
              <input formControlName="beginDate" type="date" class="form-control" >
            </div>
            <div class="form-group">
              Ngày kết thúc
              <input formControlName="endDate" type="date" class="form-control" >
            </div>
            <button class="btn btn-success" (click)="onSubmit()">Cập nhật</button>
          </form>
          <hr>
          <h2>Name: {{item.houseName}}</h2>
          <!--  <div class="well well-sm">Small Well</div>-->
          <div class="well well-sm">Địa chỉ : {{item.address}}</div>
          <div class="well well-sm">Số phòng tắm: {{item.bathroomNumber}}</div>
          <div class="well well-sm">Số phòng ngủ: {{item.bedroomNumber}}</div>
          <div class="well well-sm">Loại phòng: {{item.category.name}}</div>
          <div class="well well-sm">Giá tiền: {{item.price}}</div>
          <!--  <div class="well well-lg">Large Well</div>-->


        </div>
      </div>
    </div>
  </div>
</div>



