<div class="container">
  <div class="media">
    <div>
      <div class="media-left media-middle" *ngFor="let im of image; index as i">
        <img class="media-object" src="{{im}}" width="500" height="500">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Tên ngôi nhà: {{item.houseName}}</h4>
        <p>Địa chỉ: {{item.address}}</p>
        <p>Số phòng tắm: {{item.bathroomNumber}}</p>
        <p>Số phòng ngủ: {{item.bedroomNumber}}</p>
        <p>Loại phòng: {{item.category.name}}</p>
        <p>Giá: {{item.price}}</p>
        <a class="btn" [routerLink]="['booklist']">Xem danh sách book </a>
      </div>
      <form class="form-group" [formGroup]="statusHomeForm" (ngSubmit)="onSubmit()">
        <h3 *ngIf="message">{{message}}</h3>
        <label class="col">
          Chọn mục đích sử dụng:
          <select  formControlName="status" class="form-control">
            <option [defaultSelected]="1" value="1">AVAILABLE</option>
            <option value="2">BOOKED</option>
          </select>
        </label>
        <div class="form-group">
          Ngày bắt đầu
          <input formControlName="beginDate" type="date" class="form-control" >
        </div>
        <div class="form-group">
          Ngày kết thúc
          <input formControlName="endDate" type="date" class="form-control" >
        </div>
        <button (click)="onSubmit()">Cập nhật</button>
      </form>
    </div>
  </div>
</div>

